.leaflet-container {
  width: auto;
  height: 75vh;
  border-radius: 12px;
}

div.card {
  border-radius: 12px !important;
  color: #351F39;
  background-color: #726A95;
}

div#top-card {
  padding-top: 12px;
  padding-bottom: 12px;
}

div#mid-card {
  padding-top: 12px;
}

div#bottom-card {
  padding-top: 12px;
  padding-bottom: 12px;
}

p#timestamp {
  float: right;
  margin-bottom: 2%;
}

p#time {
  font-style: italic;
}

p.card-text {
  float: none;
}

h4#weather {
  text-align: left;
  padding-left: 1%;
}