.leaflet-container {
  width: auto;
  height: 75vh;
  border-radius: 12px;
}

.card {
  border-radius: 12px !important;
  background-color: #ffbd77;
  background-image: linear-gradient(319deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%);
}

div#top-card {
  padding-bottom: 12px;
}

div#mid-card {
  padding-top: 12px;
}

div#bottom-card {
  padding-top: 12px;
}

p#timestamp {
  float: right;
  margin-bottom: 2%;
}

p#time {
  font-style: italic;
}

p.card-text {
  float: none;
}

body {
  background-color: rgb(255, 255, 255) !important;
}

h4#weather {
  text-align: left;
  padding-left: 1%;
}